*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.todo-completed{
    text-decoration: red line-through;
}
.list-group-item{
    font-size: 20px;
    font-weight: bold;
}
ul>li.list-group-item{
    background-color: rgb(157, 228, 25);
}